<div>
    <h2>Aqui puedes agregar nuevos productos.</h2>
</div>
<h3>List of Products</h3>
<div>
    <form>
        <input type="text" id="title" placeholder="titulo" />
        <input type="text" id="description" placeholder="descripcion" />
        <input type="number" id="price" placeholder="precio" />
        <input type="text" id="thumbnail" placeholder="Imagen" />
        <input type="text" id="code" placeholder="codigo" />
        <input type="number" id="stock" placeholder="stock" />
        <input type="checkbox" id="status" placeholder="status" />
        <input type="text" id="category" placeholder="categoria" />
        <input type="button" value="Agregar" onclick="addProduct()" />
    </form>
</div>
<div class="item-products" id="products">
    <ul>
        {{#each docs}}
            <li>Titulo: {{this.title}}</li>
            <li>Precio: ${{this.price}}</li>
            <li>Stock: {{this.stock}}</li>
            <button onclick="removeProduct('{{this._id}}')">Eliminar</button>
            <hr>
        {{/each}}
    </ul>
</div>
<div class="text-center" style="margin-top: 20px">
        {{#if hasPrevPage}}
            <a href="/?pageNumber={{prevPage}}" class="btn btn-dark" style="margin-right: 10px">Prev</a>
        {{/if}}
        <span class="page-number" style="margin-right: 10px">{{page}}</span>
        {{#if hasNextPage}}
            <a href="/?pageNumber={{nextPage}}" class="btn btn-dark">Next</a>
        {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>